<center>
	<body class="background">
		<br>		
   		<center><h1> Welcome To The Hangman Game!</h1>
    	<h2>Please enter your names</h2>
    	<form action="player_names" method="post">
		<h5>Player 1: <input type= name="texts" name="player1"></h5>
		<h5>Player 2: <input type= name="texts" name="player2"></h5>
		<br>
			<input type="submit" value="Enter">
   		</br>
   		</br>
    	</form>
    	 
	</body>
</center>