<DOCTYPE html>
	<html>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<center>
			<head>
				<title>
				</title>
					<h1 style="color: 000000"></h1>
			</head>
		</center>
	</html>
<%=yield%>