<body background="http://allpicts.in/download/2755/Cool_Tokyo_Ghoul_Kaneki_Ken_Mask_Wallpaper_with_Blue_Hairs.jpg">
<center><h1><font color=000000>You Win!</font></h1></center>



<center><h2><font color=000000> You guessed the word!</h2></center>

<center><h3><font color=000000></h3></center>

<center><h2><font color=000000>The word was "<%=word%>".</h2></center>

<a href="https://hangman0819.herokuapp.com/">
<center>
   <input type="button" value="Retry" />

</a>
</center>
